<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">

      <ros>
        <namespace>questbot</namespace>
      </ros>

      <!-- Wheels -->
      <left_joint>wheel_left_joint</left_joint>
      <right_joint>wheel_right_joint</right_joint>

      <!-- Kinematics -->
      <wheel_separation>0.4</wheel_separation>
      <wheel_radius>0.1</wheel_radius>

      <!-- Limits -->
      <max_acceleration>10</max_acceleration>

      <!-- Outputs -->
      <topic>cmd_vel</topic> 
 
      <!-- Odometry -->
      <odom_topic>odom</odom_topic> 
      <frame_id>odom</frame_id> 
      <child_frame_id>base_footprint</child_frame_id> 
      

    </plugin>
  </gazebo>

</robot>