<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">

      <!-- Wheels -->
      <left_joint>wheel_left_joint</left_joint>
      <right_joint>wheel_right_joint</right_joint>

      <!-- Kinematics -->
      <wheel_separation>0.35</wheel_separation>
      <wheel_radius>0.05</wheel_radius>

      <!-- Limits -->
      <max_linear_acceleration>10.0</max_linear_acceleration> 

      <topic>cmd_vel</topic> 

      <!-- Outputs -->
      <odom_topic>odom</odom_topic> 
      <frame_id>odom</frame_id> 
      <child_frame_id>base_footprint</child_frame_id> 
      <odom_publisher_frequency>30</odom_publisher_frequency> 

      <tf_topic>/tf</tf_topic>

    </plugin>
  </gazebo>

</robot>