<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Classic Gazebo -->

    <!-- Controller -->
    <xacro:include filename="control/gazebo_control.xacro"/>

    <!-- IMU gazebo plugin -->
    <xacro:include filename="sensors/gazebo_imu.xacro"/>

    <!-- Lidar 2D -->
    <xacro:include filename="sensors/gazebo_lidar.xacro"/>

    <!-- Camera -->
    <!-- <xacro:include filename="sensors/gazebo_camera.xacro"/> -->

    <!-- Depth Camera -->
    <!-- <xacro:include filename="sensors/gazebo_depth_camera.xacro"/> -->

    

    <!-- Gazebo Sim Plugins-->  

    <!-- Controller -->
    <!-- <xacro:include filename="control/gazebo2_control.xacro"/> -->

    
</robot>