<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="questbot_2wd">
 
    <!-- Robot Body-->
    <xacro:include filename="parts/body.urdf.xacro"/>

    <!-- Robot Wheels -->
    <xacro:include filename="parts/wheel.xacro"/>

    <!-- Gazebo Definitions -->
    <xacro:include filename="gazebo.urdf.xacro"/>

</robot>