<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_dd">
 
  <!-- ROBOT URDF-->
  <xacro:include filename="robot_core.xacro"/>

  <!-- Gazebo Controller -->
  <!-- <xacro:include filename="gazebo_control.xacro"/> -->

  <!-- ROS2 Control -->
  <xacro:include filename="ros2_control.xacro"/>

  <!-- Lidar 2D -->
  <xacro:include filename="lidar.xacro"/>

  <!-- Camera -->
  <!-- <xacro:include filename="camera.xacro"/> -->

  <!-- Depth Camera -->
  <!-- <xacro:include filename="depth_camera.xacro"/> -->
  
</robot>